// Variables
// Colors
$life: #3B9AB2;
$aquatic: #78B7C5;
$zissou: #EBCC2A;
$steve: #fff;
// Fonts
$main: 300 20px/28px 'Raleway',
sans-serif;
$huge: 700 28px/40px 'Raleway',
sans-serif;
$super: 700 72px/108px 'Raleway',
sans-serif;
// Mixins
// Breakpoints
@mixin breakpoint($point) {
    @if $point==large {
        @media only screen and (max-width: 1280px) {
            @content;
        }
    }
    @else if $point==medium {
        @media only screen and (max-width: 980px) {
            @content;
        }
    }
    @else if $point==small {
        @media only screen and (max-width: 767px) {
            @content;
        }
    }
    @else if $point==xsmall {
        @media only screen and (max-width: 480px) and (orientation: portrait) {
            @content;
        }
    }
    @else if point==xlarge {
        @media (min-width: 1281px) {
            @content;
        }
    }
}

// Flexbox
@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($values) {
    @include flexbox;
    -webkit-box-flex: $values;
    -moz-box-flex: $values;
    -ms-flex: $values;
    -webkit-flex: $values;
    flex: $values;
}

@mixin flex-direction($dir) {
    @if $dir==column {
        -webkit-flex-direction: vertical;
        -moz-flex-direction: vertical;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    @else {
        -webkit-flex-direction: horizontal;
        -moz-flex-direction: horizontal;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
    }
}

@mixin flex-space($justify) {
    -webkit-justify-content: $justify;
    justify-content: $justify;
}

@mixin flex-align($align) {
    -webkit-align-items: $align;
    align-items: $align;
}

// Box and Borders
@mixin box-sizing($type) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
}

@mixin border-radius($radius...) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin auto-center {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin antialias {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin transform($transform...) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    transform: $transform;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    filter: alpha(opacity=($opacity * 100));
}

// Base
html {
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    @include box-sizing(inherit);
}

body {
    @include antialias;
    font: $main;
    background-color: $life;
    margin: 0;
    padding: 0;
}

a {
    color: $zissou;
    text-decoration: none;
}

// top nav
nav#top-nav {
    text-transform: uppercase;
    @include flexbox;
    @include flex-space(flex-end);
    width: 100%;
    // UL wrapper
    .top-nav {
        max-width: 50%;
        list-style: none;
        @include flex(1 0 auto);
        @include flex-direction(row);
        @include flex-space(flex-start);
        @include flex-align(center);
        padding: 1em 0;
        // Adjust nav bar for mobile
        @include breakpoint(small) {
            max-width: 100%;
            display: block;
            text-align: center;
        }
        // Hide Menu icon and show on small screens
        li.menu-icon {
            display: none;
            @include breakpoint(small) {
                display: inline-block;
                float: right;
                margin-right: 20px;
            }
            // Nav icons
            .icon {
                padding: 0;
                margin: 1em;
                width: 28px;
                &:before, &:after {
                    background-color: $zissou;
                    @include pseudo;
                    position: relative;
                    @include border-radius(3px);
                    height: 1px;
                    margin: 8px 0;
                    @include transition(all .2s ease-in-out);
                }
                &:before {
                    box-shadow: 0 8px 0 $zissou;
                    margin-bottom: 16px;
                }
            }
            .close:before {
                box-shadow: 0 0 0 #fff;
                @include transform(translateY(9px) rotate(45deg));
                background-color: $steve;
            }
            .close:after {
                @include transform(translateY(-9px) rotate(-45deg));
                background-color: $steve;
            }
        }
        // Rest of nav items
        li:not(.menu-icon) {
            @include flex(1 0 0);
            @include flex-space(flex-start);
            @include flex-direction(column);
            @include flex-align(center);
            &:hover {
                background-color: $zissou;
                a {
                    color: $steve;
                }
            }
            // Padding for item text except icon
            a {
                padding: 1em;
            }
            // Dropdown menu
            ul.dropdown-content {
                display: none;
                position: absolute;
                background-color: $zissou;
                width: 300px;
                margin-left: calc(-300px + (50% / 8));
                padding: 0;
                z-index: 1;
                @include transition(all 0.2s ease-in-out);
                li {
                    padding: 1em 2em;
                    a {
                        color: $steve;
                    }
                }
            }
            // Mobile hide nav items except icon
            @include breakpoint(small) {
                display: none;
                padding: 0.5em 0;
                a {
                    font: $huge;
                    color: $steve;
                }
                &.active {
                    display: block;
                }
            }
        }
    }
}
// Main Content
.main {
    height: 100%;
    max-width: 70%;
    padding: 1em 0 1em 1em;
    font: $super;
    color: $zissou;
    @include transition(opacity .4s ease-in-out);
    .contrast {
        color: $steve;
    }
    @include breakpoint(small) {
        max-width: 100%;
        padding: 2em 1em;
        font-size: 48px;
        line-height: 60px;
    }
}
.hover-fade {
    @include opacity(0.5);
}
